body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  text-decoration: none;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #ffffff;
}

/* -- header start -- */

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}
.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  /* background-color: aqua; */
}
.header__bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 56px;
  margin-bottom: 176px;
}

.header__panel {
  display: flex;
  flex-wrap: wrap;
}
.header__element {
  font-size: 18px;
  line-height: 24px;
  margin-left: 82px;
  color: #ffffff;
}
.header__element:hover,
.header__element:active,
.header__element:focus {
  opacity: 0.4;
}

/* -- header end -- */
/* -- Intro end -- */

.main {
  background: transparent url('./images/Image.jpg') no-repeat;
  background-size: cover;
}
.intro {
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(53, 66, 103, 0.0001) 0%,
    #151824 95.04%
  );
}

.intro__title {
  padding-top: 263px;
  color: #ffffff;
  width: 619px;
}
.intor__title-thump {
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
}
.intro__desc-item {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  max-width: 546px;
}
.intro__title {
  margin-bottom: 22px;
}
.intro__desc {
  padding-bottom: 59px;
}

.intro__form {
}
.intro__form-info {
  display: flex;
  flex-wrap: wrap;
}
.intro__form-inp {
  width: 297px;
  height: 44px;
  background: transparent url('./images/svg/oval.svg') no-repeat left top;
  background-size: 20px;
  border: 0;
  border-bottom: 3px solid #bfc0c5;
  margin-right: 61px;
  padding-left: 43px;
  padding-bottom: 22px;
  color: #ffffff;
  font-weight: 700;
}
.intro__form-inp::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.intro__form-but {
  padding: 15px 39px;
  background: #1b7dff;
  text-decoration: aper;
  text-transform: uppercase;
  color: #ffffff;
}
.intro__form-but:hover {
  background: #0972dc;
}

/* -- Intro end -- */

/* -- Benefits start -- */
.Benefits {
  padding-bottom: 131px;
}
.benefits__wrap {
  max-width: 1262px;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}

.benefits__title {
  width: 100%;
  position: absolute;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  top: 0;
  left: 0;
  transform: translateY(-99.5%);
  background-color: #ffffff;
}

.benefits__cards {
  background-color: #ffffff;
  height: 30vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 55px;
  padding: 0 100px;
}
.benefits__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}
.benefits__card-desc {
  line-height: 24px;
  margin-bottom: 39px;
}
.benefits__card-info {
  color: #006dfe;
  font-size: 16px;
  line-height: 24px;
  padding-right: 59px;
  background: transparent url('./images/svg/arrow.svg') no-repeat 96% center;
  transition: 0.1s linear;
}
.benefits__card__infos {
  padding-bottom: 112px;
}
.benefits__card-info:hover {
  background: transparent url('./images/svg/arrow.svg') no-repeat right center;
  opacity: 0.6;
}
.benefits__card-ico {
  padding: 20px 0 0 0;
  margin-bottom: 37px;
}

/* -- Benefits end -- */
/* -- places start -- */
.places__wrap {
}
.places__title-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.places__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
}

.liner {
  position: relative;
  padding-bottom: 10px;
}
.liner::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 253px;
  border: 2px solid #006dfe;
  background: #006dfe;
}

.places__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #006dfe;
  padding-right: 59px;
  background: transparent url('./images/svg/arrow.svg') no-repeat right center;
  transition: 0.1s linear;
}

.places__info:hover {
  background: transparent url('./images/svg/arrow.svg') no-repeat 96% center;
  opacity: 0.6;
}
/* -- Places card  -- */

.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  height: 10vh;
}

/* -- Places end -- */
